* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}


.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }

  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px)
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px)
  }

  50% {
    transform: translateX(80px)
  }

  100% {
    transform: translateX(0px)
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: https: //proxy.everskies.com/a/https://proxy.everskies.com/a/2.5s,1s;animation-delay:https://proxy.everskies.com/a/https://proxy.everskies.com/a/2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,https://proxy.everskies.com/a/https://proxy.everskies.com/a/1.5s;animation-delay:3s,https://proxy.everskies.com/a/https://proxy.everskies.com/a/1.5s}

    .snowflake:nth-of-type(8) {
    left: 70%;
    -webkit-animation-delay: https: //proxy.everskies.com/a/https://proxy.everskies.com/a/2.5s,1s;animation-delay:https://proxy.everskies.com/a/https://proxy.everskies.com/a/2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,https://proxy.everskies.com/a/https://proxy.everskies.com/a/1.5s;animation-delay:3s,https://proxy.everskies.com/a/https://proxy.everskies.com/a/1.5s}



      .letter {
      display: flex;
      flex-direction: column;
      border-radius: 18px;
      padding: 35px;
      width: 50vw;
      height: auto;
      justify-content: center;
      align-items: center;

    }

    #letter-img {
      width: 300px;
      height: 300px;
      cursor: url("magnifying_glass.ico"), auto;
      background-image: url("valentine.jpg");
      background-size: cover;
      transition: 0.8s ease-in-out;
    }

    #letter-img:hover {
      background-image: url("cat\ cheeks.jpg");
      transition: 0.8s ease-in-out;
    }

    #valentine {
      width: 12rem;
      height: auto;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }



    #question {
      font-family: "Crafty Girls", cursive;
      color: red;
      text-align: center;
      margin-top: 45px;
      padding: 10px;
    }

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      width: 100%;
    }

    .btn {
      font-family: "Pixelify Sans", sans-serif;
      background-color: #940018;
      cursor: pointer;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 25px;
      width: 120px;
      height: 50px;
      margin-top: 15px;
      transition: all 0.20s ease;
      transform: rotate(0deg);
    }

    .btn-yes:hover {
      scale: 1.17;
      transform: rotate(-3deg);
    }

    .no-wrapper {
      position: relative;
      width: 120px;
      height: 60px;
      overflow: visible;
    }

    .btn-no {
      cursor: default;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.4s ease;
    }

    .chocolate-screen {
      display: none;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      background-color: whitesmoke;
      align-items: center;
      padding-top: 30px 20px;
    }

    .chocolate-screen h1 {
      font-family: "Crafty Girls", cursive;
      color: #c4002f;
    }

    .chocolates {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      justify-items: center;
      align-items: center;
      max-width: 600px;
      margin-bottom: auto;
      width: 100%;
    }

    .chocolate {
      width: 60%;
      max-width: 200px;
      cursor: pointer;
      transition: transform 0.2s ease;

    }

    .chocolate:hover {
      transform: scale(1.15);
    }

    .btn-flowers {
      display: none;
      font-family: "Pixelify Sans", sans-serif;
      background-color: #940018;
      cursor: pointer;
      color: white;
      border: none;
      border-radius: 3px;
      height: 45px;
      padding: 10px;
      font-size: 17px;
    }

    .basket {
      box-sizing: border-box;
      width: 100%;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      content: contain;
    }

    .basket-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      /* spacing between basket and counter */
    }

    .basket-counter {
      font-family: "Crafty Girls", cursive;
      color: #c4002f;
      background: #fff0f5;
      border: 2px solid #c4002f;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
    }

    .basket-img {
      width: 70%;
      max-width: 350px;
      pointer-events: none;
      margin: 0;
    }

    .basket p {
      font-family: "Crafty Girls", cursive;
      font-size: 23px;
    }

    .flower-screen {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100vw;
      padding-top: 30px;
    }

    .flower-screen h1 {
      font-family: "Crafty Girls", cursive;
      font-size: 25px;
      margin-bottom: 70px;
      color: #c4002f;
    }

    .bouquets {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      justify-content: center;
      align-items: center;
    }

    .flower {
      width: 150px;
      cursor: pointer;
      transition: transform 0.2s ease;
    }

    .flower:hover {
      transform: scale(1.12);
    }

    .popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      justify-content: center;
      align-items: center;
    }

    .popup-content {
      background: #fff5f8;
      border-radius: 12px;
      padding: 25px;
      text-align: center;
      max-width: 400px;
    }

    .popup-content h2 {
      color: #c4002f;
      font-family: "Crafty Girls", cursive;
    }

    .popup-content p {
      font-size: 18px;
      font-family: "Crafty Girls", cursive;
      margin: 15px 0;
    }

    .popup-content button {
      background-color: #940018;
      color: white;
      font-family: "Pixelify Sans", sans-serif;
      font-size: 18px;
      border: none;
      padding: 10px 20px;
      border-radius: 6px;
      cursor: pointer;
    }

    .hidden-screen {
      display: none;
      position: fixed;
      inset: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 40px;
      text-align: center;
    }

    .hidden-screen h2 {
      color: #c4002f;
      font-family: "Crafty Girls", cursive;
      margin-bottom: 30px;
    }

    .hidden-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
      width: 90%;
      max-width: 600px;
    }

    .hidden-card {
      height: 140px;
      border-radius: 15px;
      background: transparent;
      border: 2px dashed transparent;
      cursor: pointer;
      position: relative;
      transition: all 0.3s ease;
    }

    /* Hover hint */
    .hidden-card:hover {
      border-color: #ffb6c1;
      box-shadow: 0 0 15px rgba(255, 182, 193, 0.6);
      cursor: url("heart-cursor.png"), pointer;
      /* optional */
    }

    .hidden-card.revealed {
      background: #fff0f5;
      border: 2px solid #c4002f;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
      cursor: default;
    }

    .hidden-card.revealed::after {
      content: attr(data-msg);
      font-family: "Crafty Girls", cursive;
      color: #c4002f;
      position: absolute;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      text-align: center;
      animation: fadeIn 0.4s ease;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: scale(0.9);
      }

      to {
        opacity: 1;
        transform: scale(1);
      }
    }

    .final-msg {
      height: 100vh;
      width: 100vw;
      position: relative;
      display: none;
      justify-content: center;
    }

    .final-title {
      position: absolute;
      top: 30px;
      width: 100%;
      text-align: center;
      font-family: "Crafty Girls", cursive;
      color: #c4002f;
    }

    .final-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .final-msg h2 {
      font-size: 30px;
      color: #c4002f;
      font-family: "Crafty Girls", cursive;
    }

    .final-msg .happy-cat {
      width: 250px;
      max-width: 80%;
      margin-bottom: 20px;
      animation: bounce 1.2s ease infinite;
    }

    .final-msg p {
      font-size: 20px;
      font-family: "Crafty Girls", cursive;
    }